img {
    width: 500px;
    height: 500px;
}
h1 {
    color:crimson;
    font-size:70px;
    font-family: monospace;
}
h2{
    color: rgb(201, 47, 78);
    font-family: monospace;
}
body{
    background-color: black;
}
